<div class="content" ng-controller="BlogCtrl" ng-init="list()">
    <div ui-view="content"
        flex="80"
        flex-md="80"
        flex-sm="100"
        flex-xs="100"
        flex-lg="80"
        id="main"
        flex-offset="20"
        flex-offset-md="20"
        flex-offset-sm="0"
        flex-offset-xs="0"
        flex-offset-lg="20"></div> 
    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
        <div ng-repeat="blog in blogs" class="padded blog-list-item" md-whiteframe="1"   flex-sm="95" flex-gt-sm="95" flex-gt-md="95" layout layout-align="center center">
            <md-list flex>
            <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <a ui-sref="blogs-detail({id:'{{blog._id}}'})"><h2 class="blog-list-item-title">{{ blog.name }}</h2></a>
                <md-divider ></md-divider>
                <h4 class="blog-list-item-time">发表于：{{ blog.create_time | date:'yyyy-MM-dd HH:mm:ss' }}|分类：{{blog.catalog}}</h4>
                <p class="blog-list-item-content">{{ blog.subcontent }}</p>
            </div>
            </md-list-item>
            </md-list>
        </div>
        <div layout="row"  layout-align="center center" class="pagination">
            <md-button ng-disabled="!pagination.hasPrePage"  ng-click="prePage()">上一页</md-button>
            <md-button ng-disabled="true">{{pagination.page}}/{{pagination.totalPages}}</md-button>
            <md-button ng-disabled="!pagination.hasNextPage" ng-click="nextPage()">下一页</md-button>
        </div>
    </div>
</div>