    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
        <div ng-repeat="blog in blogs" class="padded blog-list-item" md-whiteframe="1"   flex-sm="95" flex-gt-sm="95" flex-gt-md="95" layout layout-align="center center">
            <md-list flex>
            <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <h2 class="blog-list-item-title">{{ blog.name }}</h2>
                <md-divider ></md-divider>
                <h4 class="blog-list-item-time">{{ blog.create_time }}</h4>
                <p class="blog-list-item-content">{{ blog.subcontent }}</p>
            </div>
            </md-list-item>
            </md-list>
        </div>
    </div>