<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3" >
  <div  ng-controller="TagsController" ng-init="tags()">
    
    <h5 class="font-bold">标签</h5>
    <ul class="list-group">
      <li ng-if="$index < 5"class="list-group-item" ng-repeat="tag in tags">
        <a ng-click="listByTag('{{tag.tag}}')" >
          <span class="badge pull-right bg-primary">{{tag.count}}</span> {{tag.tag}}
        </a>
      </li>
    </ul>
    <div class="tags m-b-lg l-h-2x"> 
      <span ng-if="$index > 5" ng-repeat="tag in tags" > 
        <a ng-click="listByTag('{{tag.tag}}')" class="label bg-info">{{tag.tag}}</a> 
      </span> 
    </div> 

  </div>
  <h5 class="font-bold">最近发表</h5>
  <div ng-controller="BlogListController" ng-init="recent()">
    <div ng-repeat="blog in blogs">
      <div>
        <a class="pull-left thumb thumb-wrapper m-r">
          <img src="img/b0.jpg">
        </a>
        <div class="clear">
          <a ui-sref="blog.detail({path:'{{blog.path}}'})" class="font-semibold text-ellipsis">{{blog.name}}</a>
          <div class="text-xs block m-t-xs">{{blog.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>