<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><span ng-if="keyword">搜索条件：{{keyword}}</span> </h1>
</div>
<div class="wrapper-md"  ng-init="search()">
  <div class="row">
    <div class="col-sm-9">
      <div class="blog-post">
        <div class="panel" ng-repeat="blog in blogs">
          <div class="wrapper-lg">
            <h2 class="m-t-none"><a ui-sref="blog.detail({path:'{{blog.path}}'})">{{blog.name}}</a></h2>
            <div>
              {{blog.subcontent}}
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">coolcao</a>
              <i class="fa fa-clock-o text-muted"></i> {{ blog.create_time | date:'yyyy-MM-dd HH:mm:ss' }}
              <span class="m-l-sm">
                <i class="fa fa-tags text-muted"></i>
                <span ng-repeat="cata in blog.catalog"><a ui-sref="blog.list({tag:'{{cata}}'})">{{cata}}&nbsp;&nbsp;</a></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-t-lg m-b-lg" ng-if="pagination">
        <ul class="pagination pagination-md">
          <li>
            <a ng-click="goto('1')" ng-class="{true:'btn disabled'}[pagination.page == 1]"><i class="fa fa-chevron-left"></i></a>
          </li>
          <li ng-repeat="page in pagination.usePages" ng-class="{true: 'active' }[page.active]">
            <a ng-click="goto('{{page.page}}')" >{{page.page}}</a>
          </li>
          <li>
            <a ng-click="goto('{{pagination.totalPages}}')" ng-class="{true:'btn disabled'}[pagination.page == pagination.totalPages]"><i class="fa fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div data-ng-include="'tpl/blocks/right_nav.html'"></div>
  </div>
</div>
